{% extends "base.html" %}
{% block title %}AppOops{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
 <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle"
    data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">AppOops</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
	  <li><a href="{{ url_for('.display') }}">Log</a></li>
    </ul>
  </div>
 </div>
</div>
{% endblock %}
{% block page_content %}
<h1>Connections Details</h1>
{% block content %}
<table id="data" class="table table-striped">
	<thead>
		<tr>
			<th>Web balancer node</th>
			<th>Client IP address</th>
			<th>Request datetime</th>
		</tr>
	</thead>
	<tbody>
		{% for row in t_data %}
		<tr>
			<td>{{ row['hostname'] }}</td>
			<td>{{ row['remote_ip'] }}</td>
			<td>{{ row['date'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}	
{% endblock %}
